.container {
	margin: 50px auto;
    max-width: 1200px;
    padding: 10px;
	background-color: lightgray;
	text-align: right;
}

.main-screen {
    width: 1000px;
    height: 400px;
    margin: auto;
}

.control-panel {
	margin-bottom: 20px;
}

.resource-bar,
#playground {
	float: left;
	height: 100%;
}

#playground {
	position: relative;
	width: 700px;
	background-color: darkgrey;
}

.btn-control {
	border: 1px solid lightblue;
	padding: 4px 20px;
	font-weight: bold;
}

.btn-control:hover {
    box-shadow: 0 0 11px 0px lightblue;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.resource-bar {
	width: 150px;
	background-color: gainsboro;
}

.resource-item {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    cursor: pointer;
    font-size: 0;
}

.resource-counter {
	text-align: center;
	padding: 20px;
}

.btn-control-start {
	background-color: green;
}

.btn-control-stop {
	background-color: red;
}

.bomb {
	position: absolute;
	display: inline-block;
}

.game-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,0,0, 0.5);
}

.game-overlay-active {

	display: block;
}

.counter-points-added {
	background-color: green;
}

.counter-points-removed {
	background-color: red;
}